<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Bookify</title>
</head>
<body>
    <nav>
        <ul class="container">
            <li class="logo">Bookify</li>
            <li><button class="gohome"><a href='{{ url_for("index") }}'>Go home</a></button></li>
        </ul>
    </nav>
    <div class="landing-hero">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message[1] }}
                    <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form methods="PUT" id="venue_form_to_update">
        <div>
            <label>Venue Name:</label>
            <input type="text" name="venue_name" value ='{{ venue_to_update.venue_name }}' required />
        </div>
        <div>
            <label>Venue Place:</label>
            <input type="text" name="venue_place" value ='{{ venue_to_update.venue_place }}' required />
        </div>
        <div>
            <label>Venue Campacity:</label>
            <input type="text" name="venue_capacity" value ='{{ venue_to_update.venue_capacity }}' required />
        </div>
        <button type="submit" id="submitbtn">Submit</button>
    </form>
    <br>
    <a href="/venue-dashboard">Go Back!</a>
    <div class="footer">
        <span class="logo">Bookify</span>
        <div class="msg">Made with ❤️ by Adi.</div>
    </div>
</div>
<!-- the .. represents going one level before in the directory -->
    <!-- <script src="../static/script.js"></script> -->
    <script>
        const vform1 = document.getElementById('venue_form_to_update')
        console.log(vform1)
        vform1.addEventListener('submit', e=>{
            e.preventDefault()
            const formData = new FormData(vform1)
            let data = Object.fromEntries(formData)
            const endpoint = window.location.pathname.split('/').pop()
            data['venue_id'] = endpoint
            console.log(data)
            fetch('/venue', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                // Handle the response from the server
                console.log(response)
            })
            
        })
    </script>
</body>
</html>